$background: #ffffff;
$blue: #006ac6;
$yellow: #fab700;
$grey: #75787b;

body {
    background-color: $background;
}
#storeName,#country, #city,#location, #area{
    padding: 5px;
    border: $yellow 1px solid ;
    border-radius: 4px;
        }
form {
    display: flex;
    flex-direction: column;
div {
    margin-bottom: 10px;
label {
    font-weight: bold;
    display: flex;
        } }
} 
#button {
    width: 75px;
    margin: 5px;
} 
.table-latitude {
    width: 50%;
    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $yellow;
        text-align: center;
    }
    thead {
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: $blue;
            border: 1px solid $grey;
        }
    }
    tbody {
        tr {
            td {
                color: $grey;
                padding: 10px;
                text-align: center;
                border: 1px solid $grey;
            }
        }
    }
}
.error-text {
    color: red;
  }